html {
	background: rgb(133,161,215);
	background: linear-gradient(0deg, rgba(133,161,215,1) 0%, 
		rgba(6,45,103,1) 100%);
	font-family: Avant Garde,Avantgarde,Century Gothic,CenturyGothic,AppleGothic,sans-serif;
}

header{
	background-image: url("starry.jpg");
	background: transparent;
	overflow: hidden;
	position: fixed;
	width: 99%;
	height: 50px;
	z-index: 2;
	display: flex;
	padding: 0px;
}

header a{
	flex: auto;
	text-align: center;
	padding: 10px 0;
	color: #FFE13A;
	text-decoration: none;
	font-size: 17px;
}

header a:hover{
	color: #afb9c5;
}

.greeting {
	height: 800px;
}

.center {
	text-align: center;
	color: #FFE13A;
	font-size: 50px;
	font-weight: thick;
	position: absolute;
	top:  50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.center{
	
}

.about{
	height: 60px;
}

.intro{
	height: 400px;
	color: #FFE13A;
	font-size: 25px;
}


.intro a.photo{
	display: inline-block;
	position: relative;
	margin-right: 15px;
	float:  left;
	height: 85%;
	width: 20%;
	overflow: hidden;
	border-radius: 50%;
	z-index: 1;
}

.intro_depth{
	height: auto;
	color: #F0C722;
	font-size: 30px;
	margin: 25px;

}

.intro_depth a.fun_facts{
	font-size: 20px;
	align-content: center;
	height: auto;

}

.work {
	height: auto;
	text-align: center;
	color: #FFE13A;
	font-size: 50px;
	font-weight: thick;
	position: absolute;
	left: 50%;
	transform: translate(-50%, -50%);

}

.projects {
	height: auto;
	color: #F0C722;
	font-size: 25px;
	padding: 25px 25px;
}

.projects .project-list{
	position: relative;
	margin: 10px 10px;
}

.projects .project-language{
	position: relative;
	padding: 10px 0;
	font-size: 30px;
	color: #F0C722;
	cursor: pointer;
}

.projects .project-language::before{
	content: "+";
	color: #F0C722;
	position: absolute;
	top: 50%;
	right: -5px;
	font-size: 30px;
	transform: translateY(-50%);
}

.projects .lang-list{
	position: relative;
	height: 0;
	font-size: 20px;
	text-align: justify;
	width: 780px;
	overflow: hidden;
	transition: 0.5s;
}

.projects .project-list.active .lang-list{
	height: 150px;
}

.projects .project-list.active .project-language::before{
	content: "-";
	font-size: 30px;
}